.nav-bar {
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 1px 2px #fff;
  width: 100vw;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
}
.nav-ul {
  margin: 0;
  padding: 0;
  width: 33%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.nav-li {
  cursor: pointer;
  margin: 15px;
  padding: 0;
}
.navbar-small-logo {
  width: 40px;
  height: auto;
}
.navbar-small-logo-container {
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 33%;
  height: 90%;
}

.navbar-small-profile {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar-small-profile a {
  cursor: pointer;
}
.navbar-small-profileimg-example {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-image: url("https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg");
  border-radius: 100%;
}

@media (max-width: 600px) {
  .nav-bar {
    justify-content: center;
  }

  .navbar-small-profile {
    width: 40%;
  }
}
