.loading-spinner-lanes {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.loading-spinner-lane2 {
  border-radius: 10px;
  width: 60px;
  height: 5px;
  background-color: #fff;
  margin: 15px 0px;
}
.loading-spinner-lane1,
.loading-spinner-lane3 {
  border-radius: 10px;
  width: 60px;
  height: 5px;
  background-color: #fff;
}
.loading-spinner-lane1 {
  animation: lanes-1-move 1.2s infinite both;
}
.loading-spinner-lane2 {
  animation: lanes-1-move 1.2s infinite both;
  animation-delay: 0.4s;
  background-color: #ea580c;
}
.loading-spinner-lane3 {
  animation: lanes-1-move 1.2s infinite both;
  animation-delay: 0.8s;
}
@keyframes lanes-1-move {
  0% {
  }
  50% {
    width: 40px;
  }
  100% {
  }
}