.burger{
  cursor: pointer;
  padding: .5%;
  display: flex;
    flex-direction: column;
      align-items: start;
  position: fixed;
  width: 45px;
  height: 31.5px;
  z-index: 99;
  border: none;
  margin: 0;
  transition: min-width 0.5s ease-in-out;
}
.burger:hover .bar2{
width: 23px;  
}
.burger:hover .burger-text-menu p{
  color: #ea580c;
}
.burger.active:hover .bar2 {
  width: 0px;
}


.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0px;
  transition: transform 0.6s ease;
}
.bar2{
  background-color: #ea580c;
  width: 33px;
  transition: width 0.4s ease-in-out;
}
.bar1.active {
  background-color: white;
  transform: translateY(8px) rotate(45deg);
}
.bar2.active{
  width: 0px;
}
.bar3.active {
  background-color: white;
  transform: translateY(-8px) rotate(-225deg);
}


.navigation{
  display: none;
}



.navigation.open {
  user-select: none;
  animation: swing-in-left-fwd 0.5s ease-in-out both;
  padding-top: 50px;
  
  position: fixed;
  left: 0;
  top: 0;
  height: 95%;
  background: #000;
  z-index: 4;
  width: 13vw;
  min-width: 210px;
  overflow: auto;
  display: block;
  font-family: 'Poppins', sans-serif;
}
.navigation a{
  text-decoration: none;
}



.navigation-button {
  padding: 10px;
  text-align: right;
}

.navigation-heading {
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.navigation-heading span{
  visibility: hidden;
}
.navigation-heading a{
  color: #ffffff;
  font-weight: 400;
}
.navigation-heading a:hover{
  color: #ea580c;}
.navigation-heading a:focus{
  color: #ea580c;

}
.navigation-heading.active a{
  color: #ea580c;
}
.navigation-heading:not(:first-child) {
  margin-top: 25px;
}
.navigation-heading:last-child {
  margin-bottom: 25px;
}
.navigation-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.navigation-list:last-child {
  margin-bottom: 50px;
}
.navigation-list a {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #ffffffc2;
  display: block;
  padding: 5px;
}
.navigation-list a:hover {
  color: #ea580c;
  background-color: #0026410e;
}
.navigation-list a:focus{
  color: #ea580c;
}


.navigation-last{
  padding-bottom: 75px;
}

@keyframes swing-in-left-fwd {
  0% {

    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1060px){
  .burger{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
  }
    .burger.active {
      padding: 1.5%;
    }
}