.grid232-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#div1 {
  grid-area: 1 / 1 / 2 / 3;
  border: 1px solid #fff;
  padding: 10px;
}
#div2 {
  grid-area: 1 / 3 / 2 / 5;
  border: 1px solid #fff;
  padding: 10px;
}
#div3 {
  grid-area: 2 / 2 / 3 / 4;
  border: 1px solid #fff;
  padding: 10px;
}
#div4 {
  grid-area: 2 / 4 / 3 / 5;
  border: 1px solid #fff;
  padding: 10px;
}
#div5 {
  grid-area: 2 / 1 / 3 / 2;
  border: 1px solid #fff;
  padding: 10px;
}
#div6 {
  grid-area: 3 / 1 / 4 / 5;
  border: 1px solid #fff;
  padding: 10px;
}
@media (max-width: 1060px) {
  .grid232-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  #div1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  #div2 {
    grid-area: 1 / 3 / 2 / 5;
  }
  #div3 {
    grid-area: 2 / 1 / 3 / 5;
  }
  #div4 {
    grid-area: 3 / 1 / 4 / 3;
  }
  #div5 {
    grid-area: 3 / 3 / 4 / 5;
  }
  #div6 {
    grid-area: 4 / 1 / 5 / 5;
  }
}
@media (max-width: 540px) {
  .grid232-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #div1 {
    grid-area: 1 / 1 / 2 / 5;
  }
  #div2 {
    grid-area: 2 / 1 / 3 / 5;
  }
  #div3 {
    grid-area: 3 / 1 / 4 / 5;
  }
  #div4 {
    grid-area: 4 / 1 / 5 / 5;
  }
  #div5 {
    grid-area: 5 / 1 / 6 / 5;
  }
  #div6 {
    grid-area: 6 / 1 / 7 / 5;
  }
}